 <div class="row">
    <div class="card col p-3 m-3">
      <div class="ui tiny statistic ">
        <div class="label"> confirmer </div>
        <div class="value"> {{totalConfirmer}} </div>
      </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui tiny green statistic">
        <div class="label">Etablie </div>
        <div class="value">{{totalEtablie}} </div>
      </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui tiny red statistic">
            <div class="label"> morts </div>
            <div class="value"> {{totalMorts}} </div>
        </div>
    </div>
    <div class="card col p-3 m-3">
      <div class="ui tiny orange statistic">
        <div class="label"> Active </div>
        <div class="value"> {{totalActive}} </div>
      </div>
    </div>
  </div>
